.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  
  position: absolute;
  width: 781px;
  left: calc(50% - 781px/2);
  top: 144px;
  bottom: 80px;
  
  /* Gray / White */
  
  background: #FFFFFF;
  /* Elevation / Lv2 */
  
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}

.activePlayersTitle{
  display: flex;
}

.switch {
  position: relative;
  display: flex;
}

.switch input {
  opacity: 0;
  width: 36px;
height: 24px;
}

.slider {
  position: absolute;
height: 14px;
left: 3px;
right: 0px;
top: calc(50% - 14px/2);
background: #DCDCDF;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
