.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  
  position: absolute;
  width: 781px;
  left: calc(50% - 781px/2);
  top: 144px;
  bottom: 80px;
  
  /* Gray / White */
  
  background: #FFFFFF;
  /* Elevation / Lv2 */
  
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}

.activePlayersTitle{
    display: flex;
    width: 717px;
    justify-content: space-between;
}

.switch-label {
  display: inline-block;
  width: 62px; /* ширина переключателя */
  height: 24px; /* высота переключателя */
  border-radius: 12px; /* радиус скругления */
  background: #DCDCDF; /* цвет фона */
  cursor: pointer;
  position: relative;
}

.textSwitch{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.switch-label::before {
  content: "";
  height: 36px; /* высота кнопки */
  width: 36px; /* ширина кнопки */
  border-radius: 18px; /* радиус кнопки */
  background: #F7F7F7; /* цвет кнопки */
  top: -6px; /* положение кнопки по вертикали относительно основы */
  left: -6px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  box-shadow: 0 0 10px 0 #999999; /* тень */
  position: absolute;
}

.title {
  display: flex;

}

/* for switch */

.switch-label::after {
  content: "";
  font-weight: bold;
  color: #999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: all 0.3s ease-in-out;
}

.switch-label:hover::after {
  color: #666;
}

#switch:checked + .switch-label {
  background: #60C2AA;
}

#switch:checked + .switch-label::before {
  left: 30px;
  background: #3BA189;
}

#switch:checked + .switch-label::after {
  content: "";
  color: #118c4e;
  right: auto;
  left: 10px;
}

/* for switch */
