.block_text {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 4px 0px;
    color: #373745;

    /*border: 1px solid slateblue;*/
    box-shadow: inset 0px -1px 0px #EEEFF5;
}
