.active {
    background: #60C2AA;
    
    color: white;
}

#nav-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
    border-radius: 200px;
    font-weight: 600;
    padding: 4px 12px;
    line-height: 24px;
}

a:not(.active):hover {
    background-color: #F7F7F7;
  }

