*, *::before, *::after {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;

    background: rgba(246, 246, 246, 1);
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.form {
    padding: 40px 24px;
    gap: 12px;
    
    display: flex;
    flex-direction: column;


    text-align: center;
    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.dog {
    width: 132px;
    height: 132px;

    background: url(../assets/svg/casual-life-3d-blue-scared-ghost\ 1.svg);
}

h1 {
    margin-top: 8px;
    font-weight: 700;
    font-size: 24px;

    color: #373745;
}

.input { 

    padding: 12px 20px;

    width: 352px;
    height: 48px;
    
    background: #FFFFFF;
    /* Gray / 100 */

    border: 1px solid #DCDCDF;
    border-radius: 12px;
}

input::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #B1B1B7;
}

.enter-button {
    font-weight: 500;
    font-size: 16px;

    margin-top: 8px;
    width: 352px;
    height: 48px;

    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    border: none;
    border-color: rgba(96, 194, 170, 0.3);
    color: #FFFFFF;
}