
.primaryButton {
    display: flex;
justify-content: center;
align-items: center;

width: 161px;
height: 48px;

background: #60C2AA;
border-radius: 12px;

}

.primaryButton:hover {
    background: #3BA189;
}

.secondaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 161px;
    height: 48px;
    
    background: #F7F7F7;
    opacity: 0.3;
    border-radius: 12px;
}

.secondaryButton:hover {
    background: #DCDCDF;
    opacity: 1;
}

.labelInButton{
white-space: nowrap;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.primaryButton .labelInButton{
    width: 87px;
height: 24px;

color: #FFFFFF;
}

.secondaryButton .labelInButton{
    width: 112px;
height: 24px;


color: #373745;

}

