.firstCell {
  display: flex;
  padding-left: 14px;
  width: 678px;
}

.tableCell {
  margin-left: 6px;
}

.secondCell {
  width: 160px;
  margin-top: 9px;
}

.thirdCell {
  width: 140px;
  margin-top: 9px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  height: 48px;
  align-items: center;
  box-shadow: inset 0px -1px 0px #EEEFF5;
  gap: 16px;
}

.wrap__rightSide {
  display: flex;
  gap: 16px;
  height: 48px;
}

.firstPlayer {
  display: flex;
  align-items: center;
  width: 214px;
}

.forCup {
  display: flex;
  margin-left: 6px;
}

.against {
  display: flex;
  align-items: center;
  margin-left: 6px;
  font-weight: 600;
}

.secondPlayer {
  display: flex;
  align-items: center;
  width: 214px;
  margin-left: 20px;
}