.block_text {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 4px 0px;
    color: #373745;

    /*border: 1px solid slateblue;*/
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.percent_of_win {
    padding: 0px;
}

.text_percent_wins{
    padding: 8px 8px 8px 8px;

}