header {
    position: fixed;
    z-index: 999;
    width: -webkit-fill-available;
    height: 40px;
    left: 0;
    top: 0;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation/Lv1 */

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
