#main-container {
    margin-top: 64px;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
}


.scrollable {
  scrollbar-width: none; /* Скрываем стандартный скроллбар */
}