.ratingTab {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    

    background: rgba(246, 246, 246, 1);
}


#main_container {
    display: flex;
    align-items: flex-start;
    padding: 32px;

    position: relative;
    width: 1026px;
    top: 144px;
    bottom: 80px;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.container {
    --border: 1px solid #60C2AA;
    width: 962px;;
}


.blocks {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 24px;
    font-weight: 600;
    justify-content: flex-start;

    /*--border: 1px solid aqua;*/
}

.block {
    flex-grow: 1;
    align-content: flex-end;
    
    /*border: 1px solid aqua;*/
  }

.block_title {
    height: 48px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px -1px 0px #EEEFF5;

}

.long_cell {
    padding: 12px 396px 12px 8px ;

}

.table_header {
    font-weight: 600;
}

.allGames {
    padding: 8px 26px 8px 8px;
}

.wins {
    padding: 8px 38px 8px 8px;
}

.losses {
    padding: 8px 8px 8px 8px;

}

.winsPercent {
    padding: 8px 8px 8px 8px;

}




