.mainContainer {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;


position: relative;
width: 1416px;
left: calc(50% - 1416px/2);
top: 144px;
bottom: 80px;

/* Gray / White */

background: #FFFFFF;
/* Elevation / Lv2 */

box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
border-radius: 40px;
}


.PlayersListTitle{
  display: flex;
  justify-content: space-between;
  height: 48px;
}

.table__wrap {
  max-width: 1352px;
  width: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.thead {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  box-shadow: inset 0px -1px 0px #EEEFF5;
  gap: 16px;
  font-weight: 600;
}

.theadCell {
  padding-left: 8px;
  font-weight: 600;
}

.firstCell {
  display: flex;
  width: 440px;
}

.fourthCell {
  padding-left: 8px;
  font-weight: 600;
}

.secondCell {
  width: 108px;
}

.thirdCell {
  width: 46px;
}

.fourthCell {
  width: 152px;
}

.fifthCell {
  width: 160px;
}

.sixthCell {
  width: 160px;
}

.seventhCell {
  width: 190px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  box-shadow: inset 0px -1px 0px #EEEFF5;
  gap: 16px;
}



